.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators {
  filter: invert(0.5);
}

.banner {
  background-image: url("./img/banner.jfif");
  background-size: cover;
  min-height: 34vh;
  background-position: center center;
  padding-top: 5vh;
}

#niveau {
  max-width: 3.5rem;
}

.niveau-perso {
  min-width: 25px;
}

.img-perso-liste {
  position: relative;
}

#details-card-1, 
#details-card-2,
#details-card-3,
#details-card-4 {
  position: absolute;
  z-index: 1;
  top: 50%;
  opacity: 85%;
}

.card {
  opacity: 0;
}

.nav .nav-link {
  transition: .2s;
  background: inherit;  

  &:hover {
    transition: .2s;
    transform: translateX(5px);
  } 
}

.card {
  transition: .3s linear;


  &:hover {
    transform: translateY(-8px);
    transition: .2s linear;
  }
}


@import "./node_modules/bootstrap/scss/bootstrap.scss";
